.todoscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    border-radius: 10px;
    top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 1280px){
    .todoscontainer {
        width: 530px;
    }
}

@media (max-width: 650px){
    .todoscontainer {
        width: 75vw;
    }
}

@media (max-width: 480px){
    .todoscontainer {
        width: 90vw;
    }
}

.ave {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.ave2 {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: transparent;
    background: white;
}