.check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    min-width: 26px;
    border-radius: 50%;
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    cursor: pointer;
    margin: 0 0 0 20px;
}

.uncheck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    min-width: 26px;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
    margin: 0 0 0 20px;
}

.uncheck-D {
    background: hsl(233, 14%, 35%);
}

.uncheck:hover {
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.uncheck-inside {
    background: rgb(255, 255, 255);
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.uncheck-inside-D {
    background: hsl(235, 24%, 19%);
}

h4 {
    width: 80%;
    text-align: left;
    padding: 0 0 0 20px;
}

.complete{
    text-decoration: line-through;
    color: hsl(233, 11%, 84%);
    font-weight: 400; 
    font-size: 1.1rem
}

.c-D {
    color:hsl(233, 14%, 35%);
}

.incomplete {
    font-weight: 400; 
    font-size: 1.1rem;
    color: hsl(235, 19%, 35%);
}

.incomplete-D {
    color: hsl(234, 39%, 85%);
}

.todocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-bottom: 1px solid #ddd;
    height: 65px;
    cursor: grab;
    width: 100%;
}

.todocontainer:active {
    cursor: grabbing;
}

.todocontainer:nth-child(3) {
    border-radius: 5px 5px 0 0;
}

.D {
    background: hsl(235, 24%, 19%);
    border-bottom: 1px solid hsl(237, 14%, 26%);
    color: white;
}

.cross {
    cursor: pointer; 
    margin: 0 16px 0 6px;
    padding: 4px;
}

.img-check {
    display: block;
}


@media (max-width: 1280px){

    .todocontainer{
        height: 60px;
    }

    .complete{
        font-size: 1rem;
    }
    
    .incomplete {
        font-size: 1rem;
    }

}

@media (max-width: 650px){
    .todocontainer{
        height: 55px;
    }

    .check {
        height: 20px;
        width: 20px;
        min-width: 20px;
    }

    .uncheck {
        height: 20px;
        width: 20px;
        min-width: 20px;
        margin: 0 0 0 20px;
    }

    .uncheck-inside {
        height: 18px;
        width: 18px;
        min-width: 18px;
    }

    .complete{
        font-size: 0.85rem;
    }
    
    .incomplete {
        font-size: 0.85rem;
    }

    .cross {
        height: 12px;
    }

    h4{
        padding: 0 0 0 10px;
    }

    .img-check {
        transform: scale(0.8);
    }
}

@media (max-width: 480px){
    
    .complete{
        font-size: 0.76rem;
    }
    
    .incomplete {
        font-size: 0.76rem;
    }

    h4 {
        width: 75%;
    }
}
