.filtercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490px;
    background: white;
    padding: 0 25px;
    border-radius: 0 0 5px 5px;
    height: 55px;
    font-size: 1.06rem;
}

.filter {
    margin-left: 15px;
    color: hsl(236, 9%, 61%);
    cursor: pointer;
    
}

.filter:hover {
    color: hsl(235, 19%, 35%);
}

.items-left {
    color: hsl(236, 9%, 61%);
    font-weight: 400;
}

.clear-complete {
    color: hsl(236, 9%, 61%);
    cursor: pointer;
    font-weight: 400;
}

.clear-complete:hover {
    color: hsl(235, 19%, 35%);
}

.selected {
    color: hsl(220, 98%, 61%);
}

.D-filter{
    color: white;
    background: hsl(235, 24%, 19%);
}