.inputform {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    width: 85%;
    margin-top: 1px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form {
    display: flex;
    align-items: center;
    width: 540px;
    background: white;
    border-radius: 5px;
    height: 65px;
}

.uncheckform {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: 1px solid #bbb;
    margin: 0 20px 0 25px;
}

.D-form{
    color: white;
    background: hsl(235, 24%, 19%);
}