.filtercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    padding: 0 25px;
    border-radius: 0 0 5px 5px;
    height: 55px;
    font-size: 1.06rem;
    box-sizing: border-box;
}

.filter {
    margin-left: 15px;
    color: hsl(236, 9%, 61%);
    cursor: pointer;
}

.filter:hover {
    color: hsl(235, 19%, 35%);
}

.filter-D{
    margin-left: 15px;
    color: hsl(234, 11%, 52%);
    cursor: pointer;
}

.filter-D:hover{
    color: hsl(236, 33%, 92%);
}

.items-left {
    color: hsl(234, 11%, 52%);
    font-weight: 400;
}

.clear-complete {
    color: hsl(236, 9%, 61%);
    cursor: pointer;
    font-weight: 400;
}

.clear-complete-D {
    color: hsl(234, 11%, 52%);
    cursor: pointer;
    font-weight: 400;
}

.clear-complete:hover {
    color: hsl(235, 19%, 35%);
}

.clear-complete-D:hover {
    color: hsl(236, 33%, 92%);
}

.selected {
    color: hsl(220, 98%, 61%);
}



.dndAdvise {
    margin-top: 50px;
    color: hsl(236, 9%, 61%);
}


.filter-bar-max {
    display: flex;
}


.filter-bar-min {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.06rem;
    background: hsl(235, 24%, 19%);
}

.D-filter {
    color: white;
    background: hsl(235, 24%, 19%);
}


@media (max-width: 650px){
    .filter-bar-max{
        display: none;
    }

    .filter-bar-min{
        display: flex;
        background: white;
        margin-top: 15px;
        border-radius: 5px;
        height: 50px;
    }

    .items-left {
        font-size: 0.76rem;
    }

    .clear-complete {
        font-size: 0.76rem;
    }

    .clear-complete-D {
        font-size: 0.76rem;
    }

    .dndAdvise {
        margin-top: 45px;
        font-size: 0.8rem;
    }

    .D-filter {
        color: white;
        background: hsl(235, 24%, 19%);
    }
}
